# Loops

### While Loop

In [1]:
i=0
while i<10:
    print("yes")
    i=i+1

yes
yes
yes
yes
yes
yes
yes
yes
yes
yes

In [7]:
i=0
while i<10:
    i=i+1
    print("yes"+str(i))

yes1
yes2
yes3
yes4
yes5
yes6
yes7
yes8
yes9
yes10

###### This is wrong method

In [6]:
i=0
while i<10:
    print("yes"+str(i))
    i=i+1

yes0
yes1
yes2
yes3
yes4
yes5
yes6
yes7
yes8
yes9

#### This right method

In [15]:
k=4
while k<50:
    print(str(k))
    k=k+1

4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [16]:
type(k)

int

In [17]:
k=4
while k<50:
    print((k))
    k=k+1

4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [18]:
type(k)

int

###### Q.Write a program to print 1 to 50 using a while loop??

In [20]:
A=1
while A<=50:
    print(A)
    A=(A+1)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [21]:
D=0
while D<5:
    print("Harry")
    D=D+1

Harry
Harry
Harry
Harry
Harry

###### Q.Write a program to print the content of list using while loops??

In [22]:
Fruits=['banana','watermelon','grapes','mangoes']

In [23]:
i=0
while i<len(Fruits):
    print(Fruits[i])
    i=i+1

banana
watermelon
grapes
mangoes

### For Loop

In [1]:
fruits=['banana','watermelon','grapes','mangoes']

In [2]:
for items in fruits :
    print(items)

banana
watermelon
grapes
mangoes

In [3]:
A=[23,44,56,77,89,23,90,87,85,23,78]

In [4]:
for w in A:
    print(w)

23
44
56
77
89
23
90
87
85
23
78

In [7]:
D=('onkar','rahul','digvijaya','pratik','mahesh')

In [9]:
for names in D:
    print(names)

onkar
rahul
digvijaya
pratik
mahesh

In [10]:
Z="My name is onkar shinde."

In [11]:
for A in Z:
    print(A)

M
y

n
a
m
e

i
s

o
n
k
a
r

s
h
i
n
d
e
.

In [14]:
K=12,11,14,68

In [16]:
type(K)

tuple

In [15]:
for Digits in K:
    print(Digits)

12
11
14
68

###### For loop is used for all formates like List,Tuple,and Strings

###### :) Range Functions in Python:-

In [17]:
for i in range (8):
    print(i)

0
1
2
3
4
5
6
7

In this function print only till 7 not 8

In [19]:
for A in range (25):
    print(A)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24

Also this function prints till 24 from 0

In [23]:
for A in range(2,20):
    print(A)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [22]:
for w in range (5,15):
    print(w)

5
6
7
8
9
10
11
12
13
14

In [26]:
for M in range(0,7):
    print(M)

0
1
2
3
4
5
6

###### Stop size

In [24]:
for D in range(1,10,2):
    print(D)

1
3
5
7
9

In [25]:
for B in range(3,15,3):
    print(B)

3
6
9
12

###### For loop with else

In [27]:
for K in range (10):
    print(K)
else:
    print("Done")

0
1
2
3
4
5
6
7
8
9
Done

In [28]:
P=[11,23,45,78,90]

In [30]:
for number in P:
    print(number)
else:
    print("All no. is printed")

11
23
45
78
90
All no. is printed

###### The break statement

In [34]:
for n in range(15):
    print(n)
    if n==10:
        break

0
1
2
3
4
5
6
7
8
9
10

In [1]:
for n in range(25):
    if n==10:
        break
    print(10)

10
10
10
10
10
10
10
10
10
10

###### This syntex is incorrect

In [35]:
for no. in range(15):
    print(no.)
    if no.==10:
        break

SyntaxError: invalid syntax (<ipython-input-35-d43ab090dfe6>, line 1)

###### in this example because of "no." got error.

In [36]:
for a in range(50):
    print(a)
    if a==25:
        break

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25

### The Continue statement

In [69]:
for onkar in range(20):
    print(onkar)
    if onkar==5:
        continue
        print(onkar)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [52]:
for D in range(20):
    print(D)
    if D==EVEN:
        continue
        print(D)

0

NameError: name 'even' is not defined

In [68]:
for y in range(20):
    print(y)
    if y==12:
        continue
        print(y)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

#### Above code's syntex was incorrect

In [70]:
for i in range (10):
    if i==5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9

###### This syntex is correct for continue statement

In [71]:
for R in range (20):
    if R==10:
        continue
    print(R)

0
1
2
3
4
5
6
7
8
9
11
12
13
14
15
16
17
18
19

### Pass Statement

In [72]:
i=4
if i>0:
    pass
print("Onkar Shinde")

Onkar Shinde

In [73]:
l=[1,5,8]

In [76]:
for item in l:
    print(item)

1
5
8

In [77]:
for item in l:
    pass
print("Maharashtra")

Maharashtra