###### Q.1 Write a program to print multiplication table of a given number using for loop??

In [1]:
Number=int(input("enter digit:"))

enter digit:4

In [2]:
print(Number)

4

In [3]:
for i in range(1,11):
    print(f"{Number}x{i}={Number*i}")

4x1=4
4x2=8
4x3=12
4x4=16
4x5=20
4x6=24
4x7=28
4x8=32
4x9=36
4x10=40

#### Here "X" is string,but * is used for multiplication.
in print() we used Formattting ,formatting (f),perform operations in print.

In [4]:
for A in range (1,9):
    print(F"{A}X{2}={A*2}")

1X2=2
2X2=4
3X2=6
4X2=8
5X2=10
6X2=12
7X2=14
8X2=16

###### This is another example

###### Q.2 Write a program to greet all persons names stored in a list l1 and which starts with S??

In [5]:
L1=["Harry","Soham","Sachin","Rahul"]

In [6]:
for A in L1:
    if A.startswith("S"):
        print("Hello "+A)

Hello Soham
Hello Sachin

###### Q.3 Attempt problem 1 by using while loop??

###### Q.4 write a program to find weather a given number is prime or not??

In [7]:
Z=int(input("enter number"))

enter number7

In [8]:
for i in range(2,Z):
    prime=True
    if(Z%i==0):
        prime=False
        break
    if prime:
        print("This Number is prime")
    else:
        print("this number is not prime")

This Number is prime
This Number is prime
This Number is prime
This Number is prime
This Number is prime

###### Q.5 Write a program to find the sum of first n natural numbers using while loop??

###### Q.6 write a program to calculate the factorial of a given number using for loop??

In [11]:
D=int(input("enter number  "))

enter number  2

In [12]:
factorial=1

In [16]:
for i in range (1,D+1):
    factorial=factorial*i
print(f"The factorial of {D} is {factorial}")

The factorial of 2 is 4

In [20]:
K=int(input("enter number  "))

enter number  3

In [22]:
factorial=1

In [23]:
for i in range (1,K+1):
    factorial=factorial*i
print(f"The factorial of {K} is {factorial}")

The factorial of 3 is 6

###### Q.7 Write a program to print the following star pattrn:
    *
    * *
    * * *
    
    for n = 4

In [25]:
for i in range (4):
    print("* "*i)

*
* *
* * *

###### extra problem:-Write a program to print the following star pattrn:
    *
    * *
    * * *
    * * * *
    
    for n = 4

In [27]:
for i in range (4):
    print("* "*(i+1))

*
* *
* * *
* * * *

Q.8 write a program to print the following star pattern??
    *
  * * *
* * * * *
 for n= 3

In [29]:
n=3

In [39]:
for i in range (3):
    print(" "*(n-i-1))
    print("*"*(2*i+1))
    print(" "*(n-i-1))

*


***


*****

In [30]:
for i in range (3):
    print(" "*(n-i-1),end=" ")
    print("*"*(2*i+1),end=" ")
    print(" "*(n-i-1))

   *
  ***
 *****

In [37]:
for i in range (3):
    print(" "*(n-i-1),end=" ")
    print("*"*(2*i+1))
    print(" "*(n-i-1))

   *

  ***

 *****

In [38]:
for i in range (3):
    print(" "*(n-i-1),end=" ")
    print("*"*(2*i+1),end=" ")
    print(" "*(n-i-1))

   *
  ***
 *****

In [40]:
for i in range (3):
    print(" "*(n-i-1),end=" ")
    print("*"*(2*i+1),end=" ")

   *   ***  *****

In [41]:
for i in range (3):
    print(" "*(n-i-1),end=" ")
    print("*"*(2*i+1),end=" ")
    print(" "*(n-i-1),end=" ")

   *      ***    *****

###### Above methods also correct

In [42]:
for i in range (3):
    print(" "*(n-i-1),end=" ")
    print("*"*(2*i+1))

   *
  ***
 *****

### But above method is shortest to creat pyramid

###### Q.9 Write a program to print the following star pattern ??

* * *
*   *
* * *           for n=3

In [43]:
n=3

In [52]:
for k in range (3):
    print("*"*(n+k))

***
****
*****

###### Q.10 Write a program to print multiplication table of n using loop in reversed order??