# Functions

### "Functions" defined by "def"

###### Examples of Functions(def)

###### 1.

Write a program to greet a user with "Good day" using functions??

###### Type 1

In [2]:
def greet(name):
    print("Good day,"+name)
greet("Onkar")

Good day,Onkar

In [12]:
def digit(enter ):
    print("Number is "+enter)
digit("90")

Number is 90

In [13]:
def townname(write):
    print(write)
townname("Majalgaon")

Majalgaon

In [14]:
def sea(which):
    print("Name of sea is")
sea("Indian Ocean")

Name of sea is

###### Note this point

In [16]:
def sea(which):
    print("Name of sea is "+which)
sea("Indian Ocean")

Name of sea is Indian Ocean

### This is the syntax of def functions(Defining function)

###### Type 2

###### Defalut parameter value

In [21]:
def greet(name):
    print("Good Day,"+name)
greet("Onkar")

Good Day,Onkar

In [22]:
def greet(name):
    print("Good Day,"+name)
greet("Onkar")
greet()

Good Day,Onkar

TypeError: greet() missing 1 required positional argument: 'name'

In [23]:
def greet(name="Student"):
    print("Good Day,"+name)
greet("Onkar")
greet()

Good Day,Onkar
Good Day,Student

In [29]:
def Class(std="4th year"):
    print("Write std= "+std)
Class("1st year")
Class()

Write std= 1st year
Write std= 4th year

In [33]:
def Mountain(Name="Himalaya"):
    print("Highest mountains are "+Name)
Mountain("Sahyadri")
print("And")
Mountain()

Highest mountains are Sahyadri
And
Highest mountains are Himalaya

###### Tyep 3

In [5]:
def greet (name):
    print("Good day,"+name)
def add(Number1,Number2):
    return (Number1+Number2)
greet("Onkar")
print(add(6,32))

Good day,Onkar
38

In [11]:
def Temptreture(enter):
    print("Today's Temptrature may be "+enter)
def add(digit1,digit2):
    return (digit1+digit2)
Temptreture("20")
print("Or")
print(add(20,4))

Today's Temptrature may be 20
Or
24

In [27]:
def Tigercount(enter):
    print("In India has "+ enter + " Tiger's" )
def sumcount(year2001,year2002):
    return(year2001+year2002)
Tigercount("3000")
print("Or")
print(sumcount(2500,800))

In India has 3000 Tiger's
Or
3300

###### Type 4

In [35]:
marks1=[45,78,86,77]
percentage1=(sum(marks1)/400)*100

marks2=[75,98,88,78]
percentage2=(sum(marks2)/400)*100
print(percentage1, percentage2)

71.5 84.75

Q. A=[23,33,45]
   B=[33,56,88]
find percentage

In [36]:
A=[23,33,45]
percentage1=(sum(A)/300)*100
B=[33,56,88]
percentage2=(sum(B)/300)*100
print(percentage1,percentage2)

33.666666666666664 59.0

###### Type 5

In [63]:
X=[45,78,86,77]
Y=[75,98,88,78]

In [66]:
def percent(X):
    P=((X[0]+X[1]+X[2]+X[3])/400)*100
    return P

In [67]:
percent(X)

71.5

In [68]:
percent(Y)

84.75

###### Ans=correct.(Practice it)

In [7]:
R=[12,58,54,65]
Y=[78,54,66,98]
Z=[77,99,54,64]
P=[41,77,98,33]

In [8]:
def percent(R):
    P=((R[0]+R[1]+R[2]+R[3])/400)*100
    return P

In [9]:
percent(R)

47.25

In [10]:
percent(Y)

74.0

In [11]:
percent(Z)

73.5

In [12]:
percent(P)

62.25000000000001

### Recursion

###### Factorial

n!=1*2*3*4.....*n

###### Method

In [19]:
n=4

In [20]:
product=1

In [21]:
for i in range (n):
    product=product*(i+1)
print(product)

24

In [27]:
a=5

In [28]:
product=1

In [29]:
for r in range(a):
    product=product*(r+1)
print(product)

120

###### Recursion Methode

In [33]:
x=6

In [34]:
def factorial_iter(x):
    product=1
    for i in range (x):
        product=product*(i+1)
    return product
print(factorial_iter(6))

720