# Chapter. 3

### Strings

##### Single Quote

In [9]:
a='Onkar'

In [10]:
b="Onkar"

In [11]:
c='''I am onkar shinde.
basically i from Majalgaon
Now,i am living in Pune'''

In [12]:
print(a)

Onkar

In [13]:
print(b)

Onkar

In [14]:
print(c)

I am onkar shinde.
basically i from Majalgaon
Now,i am living in Pune

In [15]:
print(a,b,c)

Onkar Onkar I am onkar shinde.
basically i from Majalgaon
Now,i am living in Pune

In [16]:
z='Harry's'

SyntaxError: invalid syntax (<ipython-input-16-63a1495e8c32>, line 1)

In [17]:
z="Harry's"

In [18]:
print(z)

Harry's

In [19]:
greetting="Good Morning, "

In [20]:
name="Onkar"

In [21]:
print(greetting+name)

Good Morning, Onkar

##### Index Recognizing

In [22]:
name="Onkar" #length=5

In [23]:
print(name[0])

O

In [24]:
print(name[1])

n

In [25]:
print(name[2])

k

In [26]:
print(name[0:3])

Onk

In [27]:
print(name[0:4])

Onka

In [28]:
print(name[1:4])

nka

In [29]:
print(name[:4])

Onka

In [30]:
print(name[0:])

Onkar

In [31]:
print(name[1:])

nkar

### Negative indexing

In [32]:
a="Shinde"

In [33]:
print(a[-1])

e

In [34]:
print(a[-4:-1])

ind

In [35]:
print(a[0:-5])

S

In [36]:
print(a[0:-1])

Shind

In [37]:
print(a[-4:-1])

ind

In [38]:
print(a[-5:-3])

hi

### Slicing

In [39]:
word="amazing"

In [40]:
print(word[1:6:2])

mzn

###### means it will take every second letter

In [41]:
print(word[0:6:3])

az

In [42]:
print(word[0:6:2])

aai

###### when we start zero in this condition it will take second no.

In [43]:
print(word[1:6:2])

mzn

In [44]:
a="mynameisOM"

In [45]:
print(a[0:7:2])

mnmi

In [46]:
print(a[1:9:3])

yms

In [47]:
print(a[1:8])

ynameis

In [48]:
print(a[:8])

mynameis

In [49]:
print(a[4:])

meisOM

### String functions

In [50]:
story="once upon a time there was a youtuber named Harry who uploaded python course with notes Harry"

#### Functions
print(len())

print(story.endswith())

print(story.count())

print(story.capitalize())

print(story.find())

print(story.replace())

##### 1.Len()Functions

In [51]:
print(len(story))

93

##### 2.String.endswith

In [52]:
print(story.endswith("note"))

False

In [53]:
print(story.endswith("Harry"))

True

In [54]:
print(story.endswith("rry"))

True

##### 3.String.Count

In [55]:
print(story.count("H"))

2

In [56]:
print(story.count("o"))

8

##### 4.String.Capitalize()

In [57]:
print(story.capitalize())

Once upon a time there was a youtuber named harry who uploaded python course with notes harry

##### 5.String.find(word)

In [58]:
print(story.find("o"))

0

In [59]:
print(story.find("y"))

29

##### 6.String.replace(oldword,newword)

In [60]:
print(story.replace("time","Time"))

once upon a Time there was a youtuber named Harry who uploaded python course with notes Harry

In [61]:
print(story.replace("Harry","Digvijaya"))

once upon a time there was a youtuber named Digvijaya who uploaded python course with notes Digvijaya

### Escape Functions or Escape sequence characters

In [62]:
a="i am onkar shinde.basically i am from Majalgaon. i am an engineer.i am living in Pune."

In [63]:
a="i am onkar shinde.\nbasically i am from Majalgaon. i am an engineer.i am living in Pune."

In [64]:
print(a)

i am onkar shinde.
basically i am from Majalgaon. i am an engineer.i am living in Pune.

In [65]:
a="i am onkar shinde.basically i am from Majalgaon.\t i am an engineer.i am living in Pune."

In [66]:
print(a)

i am onkar shinde.basically i am from Majalgaon.	 i am an engineer.i am living in Pune.

In [67]:
b="i am onkar shinde.basically i am from Majalgaon. i am an engineer.\'i am living in Pune."

In [68]:
print(b)

i am onkar shinde.basically i am from Majalgaon. i am an engineer.'i am living in Pune.

In [69]:
d="i am onkar shinde.basically i am from \\Majalgaon. i am an engineer.i am living in Pune."

In [70]:
print(d)

i am onkar shinde.basically i am from \Majalgaon. i am an engineer.i am living in Pune.

##### Properties:-
\n :-This function change the line

 \t:-This function gives the space
 
 \' :- This function gives single quote
 
 \\:- This function add slash

##### Practice Set:-

##### 1.Write a Python program to display a user entered name followed by Good Afternoon using input() function??

In [71]:
a=input()

Omkar

In [72]:
b=print("Good Afternoon"+ a)

Good AfternoonOmkar

In [73]:
c=input("enter your name: " )

enter your name: Omkar

In [74]:
b=print("Good Afternoon" + a)

Good AfternoonOmkar

In [75]:
z=print("Good Afternoon,"+a)

Good Afternoon,Omkar

In [76]:
k=print("Good Afternoon, "+a)

Good Afternoon, Omkar

##### 2.Write a program to fill in a letter template given below with name and date??

In [77]:
letter='''Dear <|Name|>
you are selected !
<|Date|>'''

In [78]:
name=input("enter your name\n")

enter your name
Avinash

In [79]:
date=input("Enter date\n")

Enter date
8 Feb

In [80]:
letter.replace("<|name|>",name)

'Dear <|Name|>\nyou are selected !\n<|Date|>'

In [81]:
letter.replace("<|Date|>",date)

'Dear <|Name|>\nyou are selected !\n8 Feb'

In [82]:
print(letter)

Dear <|Name|>
you are selected !
<|Date|>

In [86]:
letter=letter.replace("<|Name|>",name)

In [87]:
letter=letter.replace("<|Date|>",date)

In [88]:
print(letter)

Dear Avinash
you are selected !
8 Feb

##### 3.Write a program to detect double spaces in a string??

In [89]:
a="This is a string with double  spaces"

In [90]:
Doublespace=a.find("  ")

In [91]:
print(Doublespace)

28

In [92]:
b="This is a string with double  spaces  "

In [94]:
Doublespace=a.find("  ")

In [95]:
print(Doublespace)

28

##### 4.Replace the Double space from problem 3 with single spaces??

In [96]:
d="This is a string with double  spaces"

In [100]:
print(d)

This is a string with double  spaces

In [98]:
R=a.replace("  "," ")

In [99]:
print(R)

This is a string with double spaces

##### 5.Write a program to format the following letter using escape sequence character??

In [103]:
Letter="Dear Harry, This Python Course is nice.Thanks!"

In [104]:
print(Letter)

Dear Harry, This Python Course is nice.Thanks!

In [105]:
A="Dear Harry,\n This Python Course is nice.\tThanks!"

In [106]:
print(A)

Dear Harry,
 This Python Course is nice.	Thanks!

In [107]:
Z="Dear Harry,\nThis Python Course is nice.\n\tThanks!"

In [108]:
print(Z)

Dear Harry,
This Python Course is nice.
	Thanks!