In [9]:
print("Hello World")

Hello World

In [10]:
#Name

In [11]:
'Onkar Rahul'

'Onkar Rahul'

In [12]:
'''Onkar Avinash Rahul'''

'Onkar Avinash Rahul'

In [13]:
'''Onkar
Avinash
Rahul'''

'Onkar\nAvinash\nRahul'

In [14]:
"Onkar Avinash"

'Onkar Avinash'

In [15]:
print("Twinkle, twinkle, little star
       How I wonder what you are
       Up above the world so high
       Like a diamond in the sky")

SyntaxError: EOL while scanning string literal (<ipython-input-15-f7a8e1a1211b>, line 1)

In [16]:
print('''Twinkle, twinkle, little star
How I wonder what you are
Up above the world so high
Like a diamond in the sky''')

Twinkle, twinkle, little star
How I wonder what you are
Up above the world so high
Like a diamond in the sky

In [17]:
#onkar shinde

### onkar shinde

In [18]:
#onkar shinde
#Location : Pune 
#DOB : 29/05/1996
#NBNSCOE

In [19]:
 import os

In [20]:
print(dir(os))

['DirEntry', 'F_OK', 'MutableMapping', 'O_APPEND', 'O_BINARY', 'O_CREAT', 'O_EXCL', 'O_NOINHERIT', 'O_RANDOM', 'O_RDONLY', 'O_RDWR', 'O_SEQUENTIAL', 'O_SHORT_LIVED', 'O_TEMPORARY', 'O_TEXT', 'O_TRUNC', 'O_WRONLY', 'P_DETACH', 'P_NOWAIT', 'P_NOWAITO', 'P_OVERLAY', 'P_WAIT', 'PathLike', 'R_OK', 'SEEK_CUR', 'SEEK_END', 'SEEK_SET', 'TMP_MAX', 'W_OK', 'X_OK', '_AddedDllDirectory', '_Environ', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '_check_methods', '_execvpe', '_exists', '_exit', '_fspath', '_get_exports_list', '_putenv', '_unsetenv', '_wrap_close', 'abc', 'abort', 'access', 'add_dll_directory', 'altsep', 'chdir', 'chmod', 'close', 'closerange', 'cpu_count', 'curdir', 'defpath', 'device_encoding', 'devnull', 'dup', 'dup2', 'environ', 'error', 'execl', 'execle', 'execlp', 'execlpe', 'execv', 'execve', 'execvp', 'execvpe', 'extsep', 'fdopen', 'fsdecode', 'fsencode', 'fspath', 'fstat', 'fsync', 'ftruncate', 'get_exec_path', 'get_handle_inheritable', 'get_inheritable', 'get_terminal_size', 'getcwd', 'getcwdb', 'getenv', 'getlogin', 'getpid', 'getppid', 'isatty', 'kill', 'linesep', 'link', 'listdir', 'lseek', 'lstat', 'makedirs', 'mkdir', 'name', 'open', 'pardir', 'path', 'pathsep', 'pipe', 'popen', 'putenv', 'read', 'readlink', 'remove', 'removedirs', 'rename', 'renames', 'replace', 'rmdir', 'scandir', 'sep', 'set_handle_inheritable', 'set_inheritable', 'spawnl', 'spawnle', 'spawnv', 'spawnve', 'st', 'startfile', 'stat', 'stat_result', 'statvfs_result', 'strerror', 'supports_bytes_environ', 'supports_dir_fd', 'supports_effective_ids', 'supports_fd', 'supports_follow_symlinks', 'symlink', 'sys', 'system', 'terminal_size', 'times', 'times_result', 'truncate', 'umask', 'uname_result', 'unlink', 'urandom', 'utime', 'waitpid', 'walk', 'write']

# Variable

In [21]:
a=30

In [22]:
b="Onkar"

In [23]:
c=71.22

## Rules of varible writting

### 1)A variable name must start with letter or under_score character

In [24]:
myvari= "Onkar"

In [25]:
_a=45

In [26]:
Myvar='Shinde'

In [27]:
1="onkar"

SyntaxError: cannot assign to literal (<ipython-input-27-e6b897780a05>, line 1)

In [28]:
1a="onkar"

SyntaxError: invalid syntax (<ipython-input-28-17c36499e627>, line 1)

###### above conditions shows that Rule 1st is Satisfied

### 2)A Varible can not start with number

In [29]:
2="Africa"

SyntaxError: cannot assign to literal (<ipython-input-29-2fe174acad35>, line 1)

In [30]:
9S="Hindi"

SyntaxError: invalid syntax (<ipython-input-30-fc6fbc804b25>, line 1)

###### above conditions shows that Rule 2nd is satisfied

### 3)Varible name must be Case Sensitive

In [31]:
age=2

In [32]:
Age=2

In [33]:
AGE=2

###### This rule shows us 'age','Age','AGE' all are different codes.i.e case sensitive

### 4) A variable name can only contain alpha , numeric, characters,and under_scores

In [34]:
&="om"

SyntaxError: invalid syntax (<ipython-input-34-ae8154c8cc08>, line 1)

In [35]:
@=33

SyntaxError: invalid syntax (<ipython-input-35-8cd80d1c8eec>, line 1)

###### Rule no. 4 is satisfied

### 5)There can't be space among varible name

In [36]:
Myvar=55

In [37]:
My var=55

SyntaxError: invalid syntax (<ipython-input-37-cddb9f498a9d>, line 1)

###### Above conditions shows Rule 5th is satisfied

## Keywords

In [38]:
a="False"

In [39]:
Onkar=55

In [40]:
False=55

SyntaxError: cannot assign to False (<ipython-input-40-b2334fe3fe44>, line 1)

In [41]:
if=88

SyntaxError: invalid syntax (<ipython-input-41-e7927cdbd0d1>, line 1)

###### Above condition shows that Keywords can not be used as variable names.

In [42]:
b="or"

In [43]:
b="Or"

In [44]:
s="OR"

In [45]:
or="Onkar"

SyntaxError: invalid syntax (<ipython-input-45-dac2b7c274f6>, line 1)

In [46]:
Or="Himalaya"

In [47]:
OR=456

###### Means keywords cannot be used as varible names

# Data Types

### Integers

In [48]:
A=25

In [49]:
print(A)

25

In [50]:
d=9

In [51]:
print(d)

9

In [52]:
print(type(A))

<class 'int'>

### Float

In [53]:
e=4.4

In [54]:
print (e)

4.4

In [55]:
k=31.2

In [56]:
print(k)

31.2

In [57]:
print(type(k))

<class 'float'>

### String

In [58]:
A='Mohan'

In [59]:
print(A)

Mohan

In [60]:
k="OM"

In [61]:
print(k)

OM

In [62]:
print(type(k))

<class 'str'>

### Boolens

In [63]:
c=2>3

In [64]:
print(c)

False

In [65]:
k=(7>3)

In [66]:
print(k)

True

In [67]:
print(type(k))

<class 'bool'>

### None

In [68]:
a=None

In [69]:
print(a)

None

In [70]:
print(type(a))

<class 'NoneType'>

# Operators

In [71]:
#1.Arthimetic Operators
#2.Assignment Operators
#3.Comparision Operators
#4.Logical Operators
#5.Bitwise Operators
#6.Identity Operators
#7.Membership Operators

### 1.Arthimetic Operators

##### (+,-,/,*) These are arthimetic operators.

In [72]:
a=3

In [73]:
b=4

In [74]:
print("The Value of 3+4 is",a+b)

The Value of 3+4 is 7

In [75]:
3*4

12

In [76]:
a*b

12

In [77]:
a+b

7

In [78]:
3+4

7

In [79]:
print('The Value of a/b is', a/b)

The Value of a/b is 0.75

### 2.Assignment Operators

###### (a+=2,b-=3) These are assignment operators

In [80]:
a=34

In [81]:
a+=12

In [82]:
print(a)

46

In [83]:
b=55

In [84]:
b-=44

In [85]:
print(b)

11

### 3.Comparision Operators

##### (<,>,=,<=,>=) These are comparision operators

In [86]:
b=5>9

In [87]:
print(b)

False

In [88]:
b=5<=9

In [89]:
print(b)

True

### 4.Logical Operators

In [90]:
a=True

In [91]:
b=False

In [92]:
print("The value of a and b is",(a and b))

The value of a and b is False

# Typecasting

In [93]:
a="4561"

In [94]:
print(a)

4561

In [95]:
print(type(a))

<class 'str'>

In [96]:
print(a+5)

TypeError: can only concatenate str (not "int") to str

In [97]:
a=int(a)

In [98]:
print(a+5)

4566

In [99]:
'Typecasting is the way to convert one datatype to another.'

'Typecasting is the way to convert one datatype to another.'

# Input Function

In [100]:
a=input("enter name:")

enter name:Omkar

In [101]:
print(a)

Omkar

In [102]:
print(type(a))

<class 'str'>

In [103]:
b=input("jnjjnjn:")

jnjjnjn:uhsshbb

In [104]:
print(b)

uhsshbb

In [105]:
print(type(b))

<class 'str'>

In [106]:
b=int(b)

ValueError: invalid literal for int() with base 10: 'uhsshbb'

In [107]:
print(type(b))

<class 'str'>

In [108]:
print(b)

uhsshbb

### Practice Set Chapter 2

###### 1.Write a python program to add two no.?

In [109]:
a=77

In [110]:
b=44

In [111]:
print(a+b)

121

###### 2.Write a python program to find reminder when a number is divided by 2?

In [112]:
a=7

In [113]:
b=2

In [114]:
print("Reminder when a is divided by b is",a%b)

Reminder when a is divided by b is 1

###### 3.Check the type of the variable assigned using input() function?

In [116]:
a=input("write your name:")

write your name:OM

In [117]:
b=input("bdhbbhxb:")

bdhbbhxb:bhbs

In [118]:
print(type(a))

<class 'str'>

###### 4.Use comparision operators to find out whether a given variate a is greater than b or not .Take a=34 and b=80??

In [119]:
a=34

In [120]:
b=80

In [121]:
a>b

False

In [122]:
b>a

True

###### 5.Write a Python program to find avg. of two numbers entered by user??

In [123]:
a=67

In [124]:
b=99

In [125]:
(a+b)/2

83.0

### OR

In [126]:
a=input("enter first no.")

enter first no.45

In [127]:
b=input("enter second no.")

enter second no.88

In [128]:
a=int(a)

In [129]:
b=int(b)

In [130]:
avg=(a+b)/2

In [131]:
print(avg)

66.5

###### 6.Write a python program to calculate square of a no. entered by user?

In [132]:
a=34

In [133]:
Square=(a*a)

In [134]:
print(Square)

1156